<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body>


{% include 'header.html' %}

{% block content %}
<div class="jumbotron" style="background-image:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url(/static/images/1.jpg); /* Orange */
  color: #ffffff;">
  <h1 style="text-align: center;">Add Your Numbers Using Get Method</h1>
</div>

<div class="container">
  <form action="#">
      <div class="form-group">
      <label for="value">Number 1:</label>
      <input type="number" class="form-control" value="{{number1}}" id="num1" placeholder="Enter Number 1" name="num1">
    </div>
    <div class="form-group">
      <label for="value">Number 2:</label>
      <input type="number" class="form-control" value="{{number2}}" id="num2" placeholder="Enter Number 2" name="num2">
    </div>


    <button type="submit" class="btn btn-default">Submit</button>

      <div class="form-group">
      <label for="value">Result :</label>
      <input type="number" class="form-control" value="{{result}}" id="res" placeholder="Your Result" name="res">
    </div>
  </form>
</div>
{% endblock %}

{% include 'footer.html' %}