<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body>

{% extends 'base.html' %}
{% block content %}

<div class="jumbotron" style="background-image:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url(/static/images/1.jpg); /* Orange */
  color: #ffffff;">
  <h1 style="text-align: center;">{{newsdetails.news_title}}</h1>
  <p style="text-align: justify; font-size: 1.2em;
    margin: 0;
    padding: 50px;">{{newsdetails.news_desc | safe}}</p>
    </div>

{% endblock %}

